:root {
    --color-orange: #FFA501;
    --color-black: #000;
    --font1: 60px;
    --font2: 40px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth; 
}
.promo{
    background: url('./assets/jpg/Background.jpg')no-repeat center;
    width: 100%;
    height: 800px;
}